@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

.info {
  font-weight: 400;
  > .title {
    margin-top: 16px;
    margin-bottom: 4px;
    // font-weight: 700;
    font-size: 125%;
    @include respond-to(wide) {

    }
    @include respond-to(landscape) {

    }
    @include respond-to(portrait) {
      margin-top: 12px;
      margin-bottom: 4px;
    }
  }
  > .content {
    margin-left: 16px;
    font-style: italic;

    &.course-item {
      &:hover {
        text-decoration: underline;
      }
    }
  }

}
