@import "./../../scss/variables.scss";
@import "./../../scss/mixin.scss";

.home {
  position: absolute;
  width: 40%;
  height: 65%;
  top: 25%;
  left: 5%;
  color: #ffffff;
  font-size: $font-large;
  -webkit-user-select: none;  /* Chrome all / Safari all */
     -moz-user-select: none;  /* Firefox all */
      -ms-user-select: none;  /* IE 10+ */
          user-select: none;  /* Likely future */
}
