$font-normal: 'Droid Sans', sans-serif;
// $font-bold: 'Cabin Sketch', sans-serif;

$font-xxx-large: 4.5em;
$font-xx-large: 3.5em;
$font-x-large: 2em;
$font-large: 1.5em;
$font-medium-large: 1em;
$font-medium: 0.85em;
$font-medium-small: 0.7em;
$font-small: 0.7em;
$font-x-small: 0.5em;

$font-color-aliceblue: #f0f8ff;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
