$font-normal: 'Lato', sans-serif;
// $font-bold: 'Droid Sans', sans-serif;
// $font-bold: 'Cabin Sketch', sans-serif;

$font-xxx-large: 4.5rem;
$font-xx-large: 3.5rem;
$font-x-large: 3rem;
$font-large: 2rem;
$font-medium-large: 1.5rem;
$font-medium: 1.25rem;
$font-medium-small: 0.9rem;
$font-small: 0.7rem;
$font-x-small: 0.6rem;

$font-color-aliceblue: #f0f8ff;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
